.name{
    text-align: center;
    justify-content: center;
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 20px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;

}
.species{
    text-align: auto; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 20px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;

}
.gender{
   
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 20px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;

}
.imagen {
  max-width: 100%;
  height: auto;
}
.tarjeta{
    border: 5px solid black;
    border-radius: 5%;

}



.closeButton{
    border:0px;
    background-color: rgb(15, 134, 198);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    transition: 0.5s;    
    color: white
}

.closeButton:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.tarjeta{
    border: 5px solid black;
    border-radius: 5%;

    width: 22%;   
}

.tarjeta:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}