body {
  margin: 0;
  background-position: center center;
  background-image: url("https://i.ytimg.com/vi/jQzLjISEeas/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

