body {
  margin: 0; /* Elimina el margen alrededor del cuerpo */
  height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana del navegador */

  /* Establece la imagen de fondo */
  background-image: url("https://i.ytimg.com/vi/jQzLjISEeas/maxresdefault.jpg");

  /* Asegura que la imagen de fondo cubra todo el cuerpo. Si la relaci칩n de aspecto de la imagen no coincide con la del cuerpo, partes de la imagen se cortar치n */
  background-size: cover;

  /* Centra la imagen de fondo en el cuerpo */
  background-position: center;

  /* Evita que la imagen de fondo se repita */
  background-repeat: no-repeat;

  /* Fija la imagen de fondo en relaci칩n con la ventana del navegador */
  background-attachment: fixed;
}

code {
  /* Establece la fuente para los elementos de c칩digo a una fuente monoespaciada para una mejor legibilidad */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}