.bar{
  float: right;
  position: relative;
  display: inline-block;

  
}

.searchInput{
  border: 0px;
  border-radius: 15px 15px 15px 15px;
  background-color: #e0e0e0;
  height: 3em;
  
}

.searchButton{
  border: 0px;
  border-radius: 15px 15px 15px 15px;
  background-color: #e0e0e0;
  height: 3em;
  margin-left: 10px;
}

